# supervisely==6.69.31
git+https://github.com/supervisely/supervisely.git@remove-slash-in-post
torch==1.13.1
torchvision==0.14.1
tensorboard
ruamel.yaml==0.17.21 # for TabsDynamic widget
ruamel.yaml.clib==0.2.7 # for TabsDynamic widget
# code formatter
black
